{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h1>Connexion </h1>
			</div>
			<div class="col-md-2 mt-3 ms-5">
				<a class="connex" href="{{path("security_registration")}}">
					<button class="btn btn-primary">inscription</button>
				</a>
			</div>
		</div>


		<form action="" method="post">
			<div class="form-group">
				<input type="text" placeholder="Adresse Email" required name="_username" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Mot de passe" required name="_password" class="form-control">
			</div>
				<a href="{{path('security_login')}}">
					<button>Connexion</button>
				</a>
		</form>
				
	</div>
{% endblock %}
